@charset "UTF-8";

:root {
    /* COLORS */
    --positive: green;
    --secondary: orange;
    --negative: red;
    --bgcolor: black;
    --fontOne: white;
    --fontTwo: gray; 
}


* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;
}

