@charset "UTF-8";

:root {
    /* color palette */
    --primary-color: #012840;
    --secondary-color: #125773;
    --primary-font: #3BA7BF;
    --secondary-font: #F2F2F2;
    --shadow-color: #80F2F2;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--primary-color);
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--secondary-color);
    padding: 10px;
}

header > h1 {
    color: var(--secondary-font);
    text-align: center;
}

main {
    flex: 1;
}

section#menu {
    display: flex;
    flex-direction: column;
}

section#menu > span#button_burguer_menu {
    display: block;
    background-color: var(--primary-font);
    color: var(--secondary-font);
    text-align: center;
    font-size: 2em;
    margin: 10px auto;
    padding-top: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

section#menu > menu {
    display: none;
}

section#menu > menu > ul {
    background-color: var(--primary-font);
    border-radius: 0 0 10px 10px;
    width: 90vw;
    margin: auto;
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}

section#menu > menu > ul > li {
    border-top: 1px solid var(--secondary-font);
    padding: 10px;
}

section#menu > menu > ul > li > a {
    text-decoration: none;
    color: var(--secondary-font);
}

footer {
    background-color: var(--secondary-color);
    position: relative;
    padding: 10px;
}

footer > p {
    color: var(--secondary-font);
    text-align: center;
}