@charset "UTF-8";

:root {
    /* color palette */
    --primary-color: #012840;
    --secondary-color: #125773;
    --primary-font: #3BA7BF;
    --secondary-font: #F2F2F2;
    --shadow-color: #80F2F2;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--primary-color);
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--secondary-color);
    padding: 10px;
}

header > h1 {
    color: var(--secondary-font);
    text-align: center;
}

main {
    flex: 1;
}

section > div#balance {
    background-image: linear-gradient(to bottom, var(--primary-font), var(--secondary-color));
    margin: 10% 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 7px 3px #5c5c5c80;
}

section > div#balance > p {
    color: var(--secondary-font);
    font-size: 1.5em;

}

footer {
    background-color: var(--secondary-color);
    position: relative;
    padding: 10px;
}

footer > p {
    color: var(--secondary-font);
    text-align: center;
}