@charset "UTF-8";

/* GLOBAL VARIABLES */
:root {
    /* COLORS */
    --positiveColor: #0378A6;
    --secondaryColor: #F26A1B;
    --negativeColor: #F20505;
    --darkColor: #0D0D0D;
    --lightColor: #0378A6;
}


/* GLOBAL SETTINGS */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* HEADER */
header {

}


/* MAIN */
main {
    flex: 1;
}


/* HOME PAGE MENU */
section.menu > span#home-page-menu {
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding-top: 9px;
    margin: 15px auto;
    font-size: 2.5em;
    text-align: center;
}


section.menu > span#home-page-menu.active {
    width: 90vw;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
    border-bottom: none;
}


section.menu > menu#burguermenu {
    display: none;
}


section.menu > menu#burguermenu.active {
    display: block;
}


section.menu > menu#burguermenu > ul {
    width: 90vw;
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
    padding-bottom: 10px;
    list-style: none;
}


section.menu > menu#burguermenu > ul > li {
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
}


section.menu > menu#burguermenu > ul > li > a {
    color: black;
    text-decoration: none;
}


/* CARDS */
section > div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    width: 90vw;
}


section > div.card > p {
    padding-top: 10px;
}


/* FOOTER */
footer {
    position: relative;
}
